* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #202124;
  color: white;
}

.notes-app {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  border-bottom: 1px solid white;
  align-items: center;
}

.notes-title, .arsip-title {
  margin-left: 8.5%;
}

.no-arsip {
  text-align: center;
  color: gray;
}

input, textarea, .btn-submit {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder, textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}


.form-notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-notes input, .form-notes textarea, button {
  width: 35%;
}

.form-title {
  align-self: start;
}

.form-header {
  display: flex;
  flex-direction: column;
  width:35%;
}

.form-karakter {
  align-self: end;
  color: gray;
}

.btn-submit {
  padding: 10px;
  cursor: pointer;
}

.note-item {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  border: 1px solid white;
  border-radius: 5px;
}

.note-btn button {
  width: 50%;
  margin: 0;
  padding: 10px;
  outline: 1px solid white;
  border-radius: 3px;
  font-size: .9em;
  font-weight: bold;
  background-color:#202124; 
  cursor: pointer;
}



.btn-delete {
  color: tomato;
}

.btn-delete:hover {
  background-color:rgb(120, 120, 120);
}

.btn-arsip {
  color: yellow;
}

.btn-arsip:hover {
  background-color: rgb(120, 120, 120);
}

.note-body {
  padding: 15px
}


/* .note-app__header {
}




.note-input button {
  background-color: transparent;
  font-family: 'Inter', sans-serif;
.notes-list {
  display
  grid-template-columns: 1fr;
}
.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.note-item__body {
  font-size: 14px;
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  border-right: 1px solid #aaa;
  color: #ff5f52;
}

.note-item__archive-button {
  color: #fff263;
}

.note-item__archive-button:hover {
  color: #c49000;
}

.note-item__delete-button:hover {
  color: #b00020;
} */

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
